{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
{% include 'components/header.html' %}
{% get_providers as socialaccount_providers %}
<section>
    <div class="container">
<div class="row justify-content-center">
    <!-- Single Package -->
    <div class="col-lg">
        <div class="log_box">
                <div class="col-lg-6 col-md-6">
                    {% if messages %}
                      {% for message in messages %}
                          <div class="alert alert-{{ message.tags }}" role="alert">
                              {{ message }}
                          </div>
                      {% endfor %}
                    {% endif %}
                    <h4 class="modal-header-title text-left">Sign In</h4>
                    {% if socialaccount_providers %}
                        <div class="social-login light single mb-3">
                            <ul>
                                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="login-form">
                        <form method="POST" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            {{ form|crispy }}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                            {% endif %}
                            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                            <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
                        </form>
                    </div>

                    <div class="text-center">
                        <p class="mt-3">Don't have an account <a href="{{ signup_url }}" class="link">Зарегестрироватся</a></p>
                    </div>

                </div>

        </div>
    </div>

</div>
    </div>
</section>
{% include 'components/footer.html' %}
{% endblock %}
