<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand d-flex text-light align-items-center" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                     class="bi bi-house-fill mr-2" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd"
                          d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
                СаянФонд</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Продажа</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Аренда</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Гаражи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Земля</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Коммерческая недвижимость</a>
                    </li>
                </ul>
            </div>
            <a class="btn btn-primary text-light mr-1">{{ current_user }}</a>
            <button type="button" class="btn btn-primary d-flex"><i class="bi bi-person-plus pr-1"></i>Разместить объявление</button>
        </div>
    </nav>
</header>