{% extends 'base.html' %}
{% block content %}
{% include 'components/header.html' %}
<section class="gray p-0">
    <div class="container p-0">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="dashboard-body">
                    <div class="dashboard-wraper">
                        <!-- Basic Information -->
                        <div class="frm_submit_block">
                            <h4>My Account</h4>
                            <div class="frm_submit_wrap">
                                <div class="form-row">
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form.as_p  }}
                                        {{ profile_form.as_p  }}
                                        <div class="form-group col-lg-12 col-md-12">
                                            <button class="btn btn-theme bg-2" type="submit">Save Changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
{% include 'components/footer.html' %}
{% endblock %}
