{% load crispy_forms_tags %}
<section class="newsletter inverse-theme">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-8 col-sm-10">
                    <div class="text-center">
                        {% if messages %}
                          {% for message in messages %}
                              <div class="alert alert-{{ message.tags }}" role="alert">
                                  {{ message }}
                              </div>
                          {% endfor %}
                        {% else %}
                            <h2>Получай новые объявления на почту</h2>
                                <p>Подпишитесь на нашу рассылку и получайте последние новости и обновления!</p>
                        {% endif %}
                        <form class="sup-form" method="post">
                            {% csrf_token %}
                            {{ sub_form|crispy }}
                            <button type="submit" class="btn btn-theme bg-2">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>
